body
{
  background:#fff;
  color:#333;
  font-family:Tahoma, sans-serif;
}

.row
{
  margin-top:40px;
}

#galeri .isimler a,#galeri .isimler a:link
{
  color:#333;
}

#loading
{
  background:rgba(0,0,0,0.6);
  bottom:0;
  display:table;
  font-size:2em;
  height:100%;
  left:0;
  position:fixed;
  right:0;
  text-align:center;
  top:0;
  vertical-align:middle;
  width:100%;
  z-index:999;
}

#galerikapsayici,#yazikapsayici
{
  background-color:rgba(0,0,0,0.800);
  height:75%;
  overflow:hidden;
  padding:0;
  text-align:left;
  width:100%;
}

#galeriisimler
{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  width:15%;
}

#galeriisimler li
{
  text-align:center;
}

#galeriisimler a
{
  border-bottom:1px dashed #999;
  border-right:1px dashed #999;
  display:block;
  padding:5px;
}

.galeriklasor,.yaziklasor
{
  float:left;
  margin:20px;
}

.galeriklasor li,.yaziklasor li
{
  -moz-transform:skew(6deg,5deg) rotate(3deg);
  -ms-transform:skew(6deg,5deg) rotate(3deg);
  -o-transform:skew(6deg,5deg) rotate(3deg);
  -webkit-transform:skew(6deg,5deg) rotate(3deg);
  float:left;
  margin:3px;
  text-align:center;
}

.galeriklasor a
{
  -moz-box-sizing:border-box;
  -moz-transition:background-color 1s 0;
  -ms-transition:background-color 1s 0;
  -o-transition:background-color 1s 0;
  -webkit-box-sizing:border-box;
  -webkit-transition:background-color 1s 0;
  background-color:rgba(0,0,0,0.7);
  border:1px solid #777;
  border-radius:3px;
  box-shadow:0 0 3px #000;
  box-sizing:border-box;
  display:block;
  font-size:.8em;
  padding:50px 10px;
  transition:background-color 1s 0;
  width:100px;
}

.galeriklasor a:hover,.yaziklasor a:hover
{
  background-color:rgba(0,0,0,1);
}

.yaziklasor a
{
  -moz-box-sizing:border-box;
  -moz-transition:background-color 1s 0;
  -ms-transition:background-color 1s 0;
  -o-transition:background-color 1s 0;
  -webkit-box-sizing:border-box;
  -webkit-transition:background-color 1s 0;
  background-color:rgba(0,0,0,0.7);
  border:1px solid #777;
  border-radius:3px;
  box-shadow:0 0 3px #000;
  box-sizing:border-box;
  display:block;
  font-size:.8em;
  padding:10px;
  transition:background-color 1s 0;
  width:200px;
}

#galerikutu,#yazikutu
{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
  width:85%;
}

#yazikutu
{
  width:100%;
}

#galerikutu a.zoom
{
  -moz-box-sizing:border-box;
  -moz-transition:0 250ms 0;
  -ms-transition:0 250ms 0;
  -o-transition:0 250ms 0;
  -webkit-box-sizing:border-box;
  -webkit-transition:0 250ms 0;
  background-position:50% 10%;
  background-repeat:no-repeat;
  background-size:cover;
  border:1px solid #777;
  border-radius:3px;
  box-shadow:0 0 3px #000;
  box-sizing:border-box;
  display:block;
  float:left;
  font-size:.8em;
  margin:3px;
  padding:50px 10px;
  position:relative;
  transition:transform 250ms 0;
  width:100px;
}

#galerikutu a.zoom:hover
{
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  -webkit-transform:scale(1.15);
}


@media screen and (max-width: 1024px){
  /* Mobil site kodları */
}
