body
{
  background:#fff;
  color:#333;
  font-family:Tahoma, sans-serif;
}

.row
{
  margin-top:40px;
}

#iletisimform input,#iletisimform textarea{
  float:left;
  clear:both
}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


#loading
{
  background:rgba(0,0,0,0.6);
  bottom:0;
  display:table;
  font-size:2em;
  height:100%;
  left:0;
  position:fixed;
  right:0;
  text-align:center;
  top:0;
  vertical-align:middle;
  width:100%;
  z-index:999;
}

#galerikapsayici,#yazikapsayici
{
  background-color:rgba(0,0,0,0.800);
  height:75%;
  overflow:hidden;
  padding:0;
  text-align:left;
  width:100%;
}

#galeriisimler
{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  width:15%;
}

#galeriisimler li
{
  text-align:center;
}

#galeriisimler a
{
  border-bottom:1px dashed #999;
  border-right:1px dashed #999;
  display:block;
  padding:5px;
}

.galeriklasor,.yaziklasor
{
  float:left;
  margin:20px;
  list-style-type:none; 
}

.galeriklasor li,.yaziklasor li
{
  float:left;
  margin:3px;
  text-align:center;
}

.galeriklasor a
{
  border:1px solid #777;
  border-radius:3px;
  box-shadow:0 0 1px #000;
  box-sizing:border-box;
  display:block;
  font-size:.8em;
  padding:50px 10px;
  width:100px;
}


#galerikutu a.zoom
{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-position:50% 10%;
  background-repeat:no-repeat;
  background-size:cover;
  border:4px solid #fff;
  border-bottom:12px solid #fff;
  outline:1px solid #999;
  box-sizing:border-box;
  display:block;
  float:left;
  font-size:.8em;
  margin:3px;
  padding:50px 10px;
  position:relative;
  transition:transform 1s 0;
  width:100px;
  z-index:90
}

#galerikutu a.zoom:hover
{
  z-index:1000
}
